<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor_fish_shayu_normal_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{476,222}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,73},{476,222}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,226},{476,220}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,70},{476,220}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,448},{474,216}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{474,216}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{464,214}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{464,214}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,666},{456,210}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{456,210}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,632},{450,208}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{450,208}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,861},{446,206}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{446,206}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1278},{442,202}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{442,202}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1053},{442,196}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,67},{442,196}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1053},{444,196}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,68},{444,196}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,878},{452,198}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{452,198}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,442},{462,204}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{462,204}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{470,212}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,57},{470,212}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{476,218}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,53},{476,218}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{476,222}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{476,222}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,222}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{476,222}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{476,220}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,58},{476,220}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,222},{472,218}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{472,218}}</string>
                <key>sourceSize</key>
                <string>{490,364}</string>
            </dict>
            <key>actor_fish_shayu_normal_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,648},{462,211}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,69},{462,211}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,423},{458,207}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,74},{458,207}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,842},{448,209}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,73},{448,209}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1069},{446,207}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,74},{446,207}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1251},{442,201}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,79},{442,201}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1322},{444,193}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,87},{444,193}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{446,193}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,86},{446,193}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1078},{452,197}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,84},{452,197}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,216},{460,205}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,82},{460,205}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{468,213}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{468,213}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
            <key>actor_fish_shayu_normal_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{474,217}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,78},{474,217}}</string>
                <key>sourceSize</key>
                <string>{490,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frames.png</string>
            <key>size</key>
            <string>{2030,1517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b762ace074f3c0870eab396fd9ccadd:1/1$</string>
            <key>textureFileName</key>
            <string>fish_frames.png</string>
        </dict>
    </dict>
</plist>
